.task-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  height: fit-content;
  padding: 0px;
}

.task-section .tips-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  text-align: left;
}

.task-section .tips-container .info-icon {
  width: 24px;
  height: 24px;
}


.task-section .form-container {
  height: 57px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}



.task-section .task-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;

  background: #FFFFFF;
  border: 3px solid #0B0A07;
  border-radius: 17px;
}

.task-section .title-container {
  width: 100%;
  padding: 0px;
}

.task-section .task-props-container {
  width: min-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.task-section .task-done {
  text-decoration: line-through;
}

.task-section .buttons-container {
  height: 100%;
  width: min-content;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.task-section .task-btn {
  width: 56px;
  height: 100%;

  background: #FFFFFF;

  border: 3px solid #0B0A07;
  border-radius: 17px;
}

.task-section .true {
  background: #FFC107;
}

.task-section .task-btn .task-btn-icon {
  width: 30px;
  height: 30px;
}

/*  */
.task-section .form-container:hover .buttons-container {
  display: flex;
}

.task-section .form-container:hover .task-btn {
  box-shadow: 0px 4px 0px #0B0A07;
}


.task-section .form-container:hover .task-container {
  box-shadow: 0px 4px 0px #0B0A07;
}