.nav {
  height: 3.8vh;
  width: 100;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.24vh;
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 3.6vh;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li.active {
  text-decoration: line-through;
}

.nav a:hover {
  cursor: pointer;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  gap: 1.6vw;
  font-style: normal;
  font-weight: 700;
}

.nav-navigation {
  display: flex;
  width: 500px;
  gap: 1.6vw;
}

.nav-account {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  width: 7.0vh;
  height: 4.8vh;
}