.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-left: 162px;
  margin-right: 162px;
  margin-top: 60px;

  font-weight: 400;
  font-size: 25px;
}

.nav div.active {
  text-decoration: line-through;
}

.nav a:hover {
  cursor: pointer;
}

.nav .logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}

.nav .logo-container .logo-text {
  height: fit-content;

  font-weight: 500;
  font-size: 30px;
}

.nav .logo-container .logo-image {
  width: 50px;
  height: 33.35px;
}

.nav .main-pages-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav a {
  text-decoration: none;
}

.account-container {
  display: flex;
}

.dropdown-user-menu {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.user-container:hover .dropdown-user-menu {
  display: block;
}