@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  color: #0B0A07;
}

body {
  margin: 0;
  background: #ffffff;
}

.AppContainer {
  margin: 0px auto;
}