@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  color: #0B0A07;
}

body {
  margin: 0;
  background: #ffffff;
}

input {
  font-size: 24px;
  text-align: center;
  color: #0B0A07;
}

.AppContainer {
  margin: 0px auto;
}

.task-input {
  width: 100%;
  text-align: left;
  padding: 0px;
  margin: 0px;
  color: #0B0A07;

  background: transparent;
  border: none;
}

.task-input:focus {
  outline: none;
  box-shadow: none;
}

.task-input::placeholder {
  color: #0B0A07;
}

.input-deadline {
  text-align: center;
  width: 150px;
}

.input-level {
  text-align: center;
  width: 30px;
}

.input-edit-mode {
  border-bottom: 2px solid #0B0A07;
}